@charset "utf-8";
*{margin:0; padding: 0;}
a{text-decoration: inherit;color: inherit;}
ul,ol,{list-style: none;}
img{max-width: 100%;}

html{
    background-color: #fff;
    color: #333;
}
.modal{display: none;}
.popup{display: none;}
header{
    border:1px solid red;
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.gnb{display: flex;
    
    height: 50px;
    border:1px solid green;
    overflow: hidden;
}
.gnb a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border:1px solid blue;
}
.gnb ul a{
    height: 30px;
}